Was/5.Infrastructures/CrossCuttings/ConfigurationSection/FileConfigs/FileConfigSection.csd.xsd

<?xml version="1.0"?>

<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Kengic.Was.CrossCutting.ConfigurationSection.FileConfigs" elementFormDefault="qualified"
           targetNamespace="urn:Kengic.Was.CrossCutting.ConfigurationSection.FileConfigs"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="fileConfigSection"
              type="tns:Kengic.Was.CrossCutting.ConfigurationSection.FileConfigs.FileConfigSectionCT" />
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.FileConfigs.FileConfigSectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" name="fileConfigs"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.FileConfigs.FileConfigElementCollectionCT">
        <xs:annotation>
          <xs:documentation>The FileConfigs.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.FileConfigs.FileConfigElementCT">
    <xs:attribute name="id" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Name.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="code" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Code.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="filePath" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The FilePath.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sectionName" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The SectionName.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.FileConfigs.FileConfigElementCollectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="fileConfigElement"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.FileConfigs.FileConfigElementCT">
        <xs:annotation>
          <xs:documentation>The FileConfigElement Configuration Element.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:schema>