Was/5.Infrastructures/CrossCuttings/ConfigurationSection/ActivityContracts/ActivityContractSection.csd.xsd

<?xml version="1.0"?>

<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Kengic.Was.CrossCutting.ConfigurationSection.ActivityContracts"
           elementFormDefault="qualified"
           targetNamespace="urn:Kengic.Was.CrossCutting.ConfigurationSection.ActivityContracts"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="activityContractSection"
              type="tns:Kengic.Was.CrossCutting.ConfigurationSection.ActivityContracts.ActivityContractSectionCT" />
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.ActivityContracts.ActivityContractSectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" name="activityContracts"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.ActivityContracts.ActivityContractElementCollectionCT">
        <xs:annotation>
          <xs:documentation>The ActivityContracts.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.ActivityContracts.ActivityContractElementCT">
    <xs:attribute name="id" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Name.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="code" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Code.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="description" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Description.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="operatorName" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The OperatorName.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="operatorMethod" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The OperatorMethod.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="activityContract" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The ActivityContract.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType
    name="Kengic.Was.CrossCutting.ConfigurationSection.ActivityContracts.ActivityContractElementCollectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="activityContractElement"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.ActivityContracts.ActivityContractElementCT">
        <xs:annotation>
          <xs:documentation>The ActivityContractElement Configuration Element.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:schema>