Was/5.Infrastructures/CrossCuttings/ConfigurationSection/Messages/MessageSection.csd.xsd

<?xml version="1.0"?>

<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Kengic.Was.CrossCutting.ConfigurationSection.Messages" elementFormDefault="qualified"
           targetNamespace="urn:Kengic.Was.CrossCutting.ConfigurationSection.Messages"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="messageSection" type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Messages.MessageSectionCT" />
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Messages.MessageSectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" name="messages"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Messages.MessageElementCollectionCT">
        <xs:annotation>
          <xs:documentation>The Messages.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Messages.MessageElementCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" name="languages"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Messages.LanguageElementCollectionCT">
        <xs:annotation>
          <xs:documentation>The Languages.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
    <xs:attribute name="id" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Name.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="code" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Code.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Messages.MessageElementCollectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="messageElement"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Messages.MessageElementCT">
        <xs:annotation>
          <xs:documentation>The MessageElement Configuration Element.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Messages.LanguageElementCollectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="languageElement"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Messages.LanguageElementCT">
        <xs:annotation>
          <xs:documentation>The LanguageElement Configuration Element.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Messages.LanguageElementCT">
    <xs:attribute name="id" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="messageInfo" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The MessageInfo.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>