Was/5.Infrastructures/CrossCuttings/ConfigurationSection/WcfServices/WcfServiceSection.csd.xsd

<?xml version="1.0"?>

<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Kengic.Was.CrossCutting.ConfigurationSection.WcfServices" elementFormDefault="qualified"
           targetNamespace="urn:Kengic.Was.CrossCutting.ConfigurationSection.WcfServices"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="wcfServiceSection"
              type="tns:Kengic.Was.CrossCutting.ConfigurationSection.WcfServices.WcfServiceSectionCT" />
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.WcfServices.WcfServiceSectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" name="wcfServices"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.WcfServices.WcfServiceElementCollectionCT">
        <xs:annotation>
          <xs:documentation>The WcfServices.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.WcfServices.WcfServiceElementCT">
    <xs:attribute name="id" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Name.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="description" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Description.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="startupType" use="optional">
      <xs:annotation>
        <xs:documentation>The StartupType.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="serviceType" use="optional">
      <xs:annotation>
        <xs:documentation>The ServiceType.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="filePath" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The FilePath.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.WcfServices.WcfServiceElementCollectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="wcfServiceElement"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.WcfServices.WcfServiceElementCT">
        <xs:annotation>
          <xs:documentation>The WcfServiceElement Configuration Element.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:schema>