Was/5.Infrastructures/CrossCuttings/ConfigurationSection/WasResources/WasResourceSection.csd.xsd

<?xml version="1.0"?>

<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Kengic.Was.CrossCutting.ConfigurationSection.WasResources" elementFormDefault="qualified"
           targetNamespace="urn:Kengic.Was.CrossCutting.ConfigurationSection.WasResources"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="wasResourceSection"
              type="tns:Kengic.Was.CrossCutting.ConfigurationSection.WasResources.WasResourceSectionCT" />
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.WasResources.WasResourceSectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" name="wasResources"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.WasResources.WasResourceElementCollectionCT">
        <xs:annotation>
          <xs:documentation>The WasResources.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.WasResources.WasResourceElementCollectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="wasResourceElement"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.WasResources.WasResourceElementCT">
        <xs:annotation>
          <xs:documentation>The WasResourceElement Configuration Element.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.WasResources.WasResourceElementCT">
    <xs:attribute name="id" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="code" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Code.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Name.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="description" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Description.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="assemblyName" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The AssemblyName.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="factoryName" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The FactoryName.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="moduleName" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The ModuleName.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ifAutoStart" use="optional" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>The IfAutoStart.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="startSequence" use="optional" type="xs:int">
      <xs:annotation>
        <xs:documentation>The StartSequence.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="stopSequence" use="optional" type="xs:int">
      <xs:annotation>
        <xs:documentation>The StopSequence.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="logName" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The LogName.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="status" use="optional" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>The Status.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="comments" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Comments.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>