Was/5.Infrastructures/CrossCuttings/ConfigurationSection/Connectors/ConnectorSection.csd.xsd

<?xml version="1.0"?>

<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Kengic.Was.CrossCutting.ConfigurationSection.Connectors" elementFormDefault="qualified"
           targetNamespace="urn:Kengic.Was.CrossCutting.ConfigurationSection.Connectors"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="connectorSection"
              type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Connectors.ConnectorSectionCT" />
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Connectors.ConnectorSectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" name="connectors"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Connectors.ConnectorElementCollectionCT">
        <xs:annotation>
          <xs:documentation>The Connectors.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Connectors.ConnectorElementCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" name="connection"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Connectors.ConnectionElementCT">
        <xs:annotation>
          <xs:documentation>The Connection.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
    <xs:attribute name="id" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Name.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="code" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Code.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="description" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Description.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="startupType" use="optional">
      <xs:annotation>
        <xs:documentation>The StartupType.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="startSequence" use="optional" type="xs:int">
      <xs:annotation>
        <xs:documentation>The StartSequence.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="stopSequence" use="optional" type="xs:int">
      <xs:annotation>
        <xs:documentation>The StopSequence.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="logName" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The LogName.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" use="optional">
      <xs:annotation>
        <xs:documentation>The Type.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="timMessageLength" use="optional" type="xs:int">
      <xs:annotation>
        <xs:documentation>The TimMessageLength.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="timType" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The TimType.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Connectors.ConnectorElementCollectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="connectorElement"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Connectors.ConnectorElementCT">
        <xs:annotation>
          <xs:documentation>The ConnectorElement Configuration Element.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Connectors.ConnectionInformationElementCT">
    <xs:attribute name="id" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Name.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="node" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Node.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ip" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Ip.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="port" use="optional" type="xs:int">
      <xs:annotation>
        <xs:documentation>The Port.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Connectors.ConnectionElementCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" name="local"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Connectors.ConnectionInformationElementCT">
        <xs:annotation>
          <xs:documentation>The Local.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="remote"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Connectors.ConnectionInformationElementCT">
        <xs:annotation>
          <xs:documentation>The Remote.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
    <xs:attribute name="id" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Name.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="code" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Code.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="description" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Description.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="version" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Version.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="protocol" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Protocol.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="connectTimeOut" use="optional" type="xs:int">
      <xs:annotation>
        <xs:documentation>The ConnectTimeOut.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="filePath" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The FilePath.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sectionName" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The SectionName.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>