Was/5.Infrastructures/CrossCuttings/ConfigurationSection/Connectors/OpcSection.csd.xsd

<?xml version="1.0"?>

<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Kengic.Was.CrossCutting.ConfigurationSection.Connectors" elementFormDefault="qualified"
           targetNamespace="urn:Kengic.Was.CrossCutting.ConfigurationSection.Connectors"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="opcSection" type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Connectors.OpcSectionCT" />
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Connectors.OpcSectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" name="opcGroups"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Connectors.OpcGroupElementCollectionCT">
        <xs:annotation>
          <xs:documentation>The OpcGroups.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Connectors.OpcGroupElementCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" name="opcItems"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Connectors.OpcItemElementCollectionCT">
        <xs:annotation>
          <xs:documentation>The OpcItems.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
    <xs:attribute name="id" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="readWriteType" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The ReadWriteType.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="syncType" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The SyncType.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="deviceCode" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The DeviceCode.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="protocal" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Protocal.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="acticeStatus" use="optional" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>The ActiceStatus.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="connectionName" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The ConnectionName.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="storageDb" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The StorageDb.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="startAddress" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The StartAddress.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="updateRateSetting" use="optional" type="xs:int">
      <xs:annotation>
        <xs:documentation>The UpdateRateSetting.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Connectors.OpcGroupElementCollectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="opcGroupElement"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Connectors.OpcGroupElementCT">
        <xs:annotation>
          <xs:documentation>The OpcGroupElement Configuration Element.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Connectors.OpcItemElementCollectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="opcItemElement"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Connectors.OpcItemElementCT">
        <xs:annotation>
          <xs:documentation>The OpcItemElement Configuration Element.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Connectors.OpcItemElementCT">
    <xs:attribute name="id" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="oppositeAddress" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The OppositeAddress.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dataType" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The DataType.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dataTypeChar" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The DataTypeChar.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dataLength" use="optional" type="xs:int">
      <xs:annotation>
        <xs:documentation>The DataLength.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="alarmFlag" use="optional" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>The AlarmFlag.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="alarmCode" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The AlarmCode.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>