Was/5.Infrastructures/CrossCuttings/ConfigurationSection/Connectors/ScsSection.csd.xsd

<?xml version="1.0"?>

<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Kengic.Was.CrossCutting.ConfigurationSection.Connectors" elementFormDefault="qualified"
           targetNamespace="urn:Kengic.Was.CrossCutting.ConfigurationSection.Connectors"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="scsSection" type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Connectors.ScsSectionCT" />
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Connectors.ScsSectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" name="scsBodys"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Connectors.ScsBodyElementCollectionCT">
        <xs:annotation>
          <xs:documentation>The ScsBodys.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Connectors.ScsBodyElementCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" name="scsBodyFields"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Connectors.ScsBodyFieldElementCollectionCT">
        <xs:annotation>
          <xs:documentation>The ScsBodyFields.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
    <xs:attribute name="id" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Name.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="description" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Description.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="length" use="optional" type="xs:int">
      <xs:annotation>
        <xs:documentation>The Length.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Connectors.ScsBodyElementCollectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="scsBodyElement"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Connectors.ScsBodyElementCT">
        <xs:annotation>
          <xs:documentation>The ScsBodyElement Configuration Element.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Connectors.ScsBodyFieldElementCollectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="scsBodyFieldElement"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Connectors.ScsBodyFieldElementCT">
        <xs:annotation>
          <xs:documentation>The ScsBodyFieldElement Configuration Element.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Connectors.ScsBodyFieldElementCT">
    <xs:attribute name="id" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Type.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="startAddress" use="optional" type="xs:int">
      <xs:annotation>
        <xs:documentation>The StartAddress.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="length" use="optional" type="xs:int">
      <xs:annotation>
        <xs:documentation>The Length.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sequenceNo" use="optional" type="xs:int">
      <xs:annotation>
        <xs:documentation>The SequenceNo.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="mapName" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The MapName.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>