Was/5.Infrastructures/CrossCuttings/ConfigurationSection/Connectors/TimSection.csd.xsd

<?xml version="1.0"?>

<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Kengic.Was.CrossCutting.ConfigurationSection.Connectors" elementFormDefault="qualified"
           targetNamespace="urn:Kengic.Was.CrossCutting.ConfigurationSection.Connectors"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="timSection" type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Connectors.TimSectionCT" />
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Connectors.TimSectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" name="timBodys"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Connectors.TimBodyElementCollectionCT">
        <xs:annotation>
          <xs:documentation>The TimBodys.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Connectors.TimBodyElementCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" name="timBodyFields"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Connectors.TimBodyFieldElementCollectionCT">
        <xs:annotation>
          <xs:documentation>The TimBodyFields.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
    <xs:attribute name="id" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Name.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="description" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Description.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="length" use="optional" type="xs:int">
      <xs:annotation>
        <xs:documentation>The Length.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Connectors.TimBodyElementCollectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="timBodyElement"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Connectors.TimBodyElementCT">
        <xs:annotation>
          <xs:documentation>The TimBodyElement Configuration Element.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Connectors.TimBodyFieldElementCollectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="timBodyFieldElement"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Connectors.TimBodyFieldElementCT">
        <xs:annotation>
          <xs:documentation>The TimBodyFieldElement Configuration Element.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Connectors.TimBodyFieldElementCT">
    <xs:attribute name="id" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Type.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="startAddress" use="optional" type="xs:int">
      <xs:annotation>
        <xs:documentation>The StartAddress.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="length" use="optional" type="xs:int">
      <xs:annotation>
        <xs:documentation>The Length.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sequenceNo" use="optional" type="xs:int">
      <xs:annotation>
        <xs:documentation>The SequenceNo.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="mapName" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The MapName.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>