Was/5.Infrastructures/CrossCuttings/ConfigurationSection/Operators/OperatorSection.csd.xsd

<?xml version="1.0"?>

<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Kengic.Was.CrossCutting.ConfigurationSection.Operators" elementFormDefault="qualified"
           targetNamespace="urn:Kengic.Was.CrossCutting.ConfigurationSection.Operators"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="operatorSection"
              type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Operators.OperatorSectionCT" />
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Operators.OperatorSectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" name="operators"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Operators.OperatorElementCollectionCT">
        <xs:annotation>
          <xs:documentation>The Operators.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Operators.OperatorElementCT">
    <xs:attribute name="id" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Name.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="description" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Description.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" use="optional">
      <xs:annotation>
        <xs:documentation>The Type.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="startupType" use="optional">
      <xs:annotation>
        <xs:documentation>The StartupType.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="startSequence" use="optional" type="xs:int">
      <xs:annotation>
        <xs:documentation>The StartSequence.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="stopSequence" use="optional" type="xs:int">
      <xs:annotation>
        <xs:documentation>The StopSequence.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="logName" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The LogName.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="filePath" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The FilePath.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sectionName" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The SectionName.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="comments" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Comments.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Operators.OperatorElementCollectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="operatorElement"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Operators.OperatorElementCT">
        <xs:annotation>
          <xs:documentation>The OperatorElement Configuration Element.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:schema>