Was/5.Infrastructures/CrossCuttings/ConfigurationSection/Operators/OperatorPropertySection.csd.xsd

<?xml version="1.0"?>

<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Kengic.Was.CrossCutting.ConfigurationSection.Operators" elementFormDefault="qualified"
           targetNamespace="urn:Kengic.Was.CrossCutting.ConfigurationSection.Operators"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="operatorPropertySection"
              type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Operators.OperatorPropertySectionCT" />
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Operators.OperatorPropertySectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" name="parameters"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Operators.ParameterElementCollectionCT">
        <xs:annotation>
          <xs:documentation>The Parameters.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="threads"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Operators.ThreadElementCollectionCT">
        <xs:annotation>
          <xs:documentation>The Threads.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="messageQueues"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Operators.MessageQueueElementCollectionCT">
        <xs:annotation>
          <xs:documentation>The MessageQueues.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="activitys"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Operators.ActivityElementCollectionCT">
        <xs:annotation>
          <xs:documentation>The Activitys.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Operators.ParameterElementCollectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="parameterElement"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Operators.ParameterElementCT">
        <xs:annotation>
          <xs:documentation>The ParameterElement Configuration Element.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Operators.ThreadElementCollectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="threadElement"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Operators.ThreadElementCT">
        <xs:annotation>
          <xs:documentation>The ThreadElement Configuration Element.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Operators.ProcessElementCollectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="processElement"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Operators.ProcessElementCT">
        <xs:annotation>
          <xs:documentation>The ProcessElement Configuration Element.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Operators.MessageQueueElementCollectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="messageQueueElement"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Operators.MessageQueueElementCT">
        <xs:annotation>
          <xs:documentation>The MessageQueueElement Configuration Element.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Operators.ActivityElementCollectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="activityElement"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Operators.ActivityElementCT">
        <xs:annotation>
          <xs:documentation>The ActivityElement Configuration Element.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Operators.ParameterElementCT">
    <xs:attribute name="id" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" use="optional">
      <xs:annotation>
        <xs:documentation>The Type.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="value" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Value.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Operators.ThreadElementCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" name="processes"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Operators.ProcessElementCollectionCT">
        <xs:annotation>
          <xs:documentation>The Processes.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
    <xs:attribute name="id" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Name.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="interval" use="optional" type="xs:int">
      <xs:annotation>
        <xs:documentation>The Interval.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="enable" use="optional" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>The Enable.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Operators.ProcessElementCT">
    <xs:attribute name="id" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Name.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="priority" use="optional" type="xs:int">
      <xs:annotation>
        <xs:documentation>The Priority.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Operators.MessageQueueElementCT">
    <xs:attribute name="id" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Name.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="enable" use="optional" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>The Enable.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Operators.ActivityElementCT">
    <xs:attribute name="id" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="code" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Code.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="executeOperator" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The ExecuteOperator.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="activityContractName" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The ActivityContractName.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dataType" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The DataType.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>