Was/5.Infrastructures/CrossCuttings/ConfigurationSection/Conventions/ConventionSection.csd.xsd

<?xml version="1.0"?>

<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Kengic.Was.CrossCutting.ConfigurationSection.Conventions" elementFormDefault="qualified"
           targetNamespace="urn:Kengic.Was.CrossCutting.ConfigurationSection.Conventions"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="conventionSection"
              type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Conventions.ConventionSectionCT" />
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Conventions.ConventionSectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" name="conventions"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Conventions.ConventionElementCollectionCT">
        <xs:annotation>
          <xs:documentation>The Conventions.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Conventions.ConventionElementCollectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="conventionElement"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Conventions.ConventionElementCT">
        <xs:annotation>
          <xs:documentation>The ConventionElement Configuration Element.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Conventions.ConventionElementCT">
    <xs:attribute name="id" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="code" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Code.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Name.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" use="required">
      <xs:annotation>
        <xs:documentation>The Type.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>