Was/5.Infrastructures/CrossCuttings/ConfigurationSection/Logs/LogSection.csd.xsd

<?xml version="1.0"?>

<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Kengic.Was.CrossCutting.ConfigurationSection.Logs" elementFormDefault="qualified"
           targetNamespace="urn:Kengic.Was.CrossCutting.ConfigurationSection.Logs"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="logSection" type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Logs.LogSectionCT" />
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Logs.LogSectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" name="logs"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Logs.LogElementCollectionCT">
        <xs:annotation>
          <xs:documentation>The Logs.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Logs.LogElementCollectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="logElement"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.Logs.LogElementCT">
        <xs:annotation>
          <xs:documentation>The LogElement Configuration Element.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.Logs.LogElementCT">
    <xs:attribute name="id" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Name.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="code" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Code.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="enable" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Enable.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="logFilePath" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The LogFilePath.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="logType" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The LogType.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="logFileName" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The LogFileName.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="textFormatter" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The TextFormatter.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="maxSize" use="optional" type="xs:int">
      <xs:annotation>
        <xs:documentation>The MaxSize.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="maxSizeUnit" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The MaxSizeUnit.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="logGrade" use="optional" type="xs:int">
      <xs:annotation>
        <xs:documentation>The LogGrade.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="timeStampPattern" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The TimeStampPattern.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="maxArchivedFile" use="optional" type="xs:int">
      <xs:annotation>
        <xs:documentation>The MaxArchivedFile.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="fileExistsBehavior" use="optional" type="tns:FileExistsBehavior">
      <xs:annotation>
        <xs:documentation>The FileExistsBehavior.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="interval" use="optional" type="tns:Interval">
      <xs:annotation>
        <xs:documentation>The Interval.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="Interval">
    <xs:annotation>
      <xs:documentation>Interval.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="None">
        <xs:annotation>
          <xs:documentation>None.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Minute">
        <xs:annotation>
          <xs:documentation>Minute.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Hour">
        <xs:annotation>
          <xs:documentation>Hour.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Day">
        <xs:annotation>
          <xs:documentation>Day.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Week">
        <xs:annotation>
          <xs:documentation>Week.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Month">
        <xs:annotation>
          <xs:documentation>Month.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Year">
        <xs:annotation>
          <xs:documentation>Year.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Midnight">
        <xs:annotation>
          <xs:documentation>Midnight.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FileExistsBehavior">
    <xs:annotation>
      <xs:documentation>FileExistsBehavior.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Increment">
        <xs:annotation>
          <xs:documentation>Increment.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Overwrite">
        <xs:annotation>
          <xs:documentation>Overwrite.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>