Was/5.Infrastructures/CrossCuttings/ConfigurationSection/TypeFormatters/TypeFormatterSection.csd.xsd

<?xml version="1.0"?>

<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Kengic.Was.CrossCutting.ConfigurationSection.TypeFormatters" elementFormDefault="qualified"
           targetNamespace="urn:Kengic.Was.CrossCutting.ConfigurationSection.TypeFormatters"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="typeFormatterSection"
              type="tns:Kengic.Was.CrossCutting.ConfigurationSection.TypeFormatters.TypeFormatterSectionCT" />
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.TypeFormatters.TypeFormatterSectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" name="typeFormatters"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.TypeFormatters.TypeFormatterElementCollectionCT">
        <xs:annotation>
          <xs:documentation>The TypeFormatters.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.TypeFormatters.TypeFormatterElementCT">
    <xs:attribute name="type" use="required">
      <xs:annotation>
        <xs:documentation>The Type.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="expression" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Expression.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Kengic.Was.CrossCutting.ConfigurationSection.TypeFormatters.TypeFormatterElementCollectionCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TypeFormatterElement"
                  type="tns:Kengic.Was.CrossCutting.ConfigurationSection.TypeFormatters.TypeFormatterElementCT">
        <xs:annotation>
          <xs:documentation>The TypeFormatterElement Configuration Element.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:schema>